.navspan{
    color: #c79c60;
}
.bgncol{
    background-color: #282726;
}
.txtcolor{
    color: white;
    transform: translateY(-40%);
}

.margintop{
    margin-top: -5em;
    
}

img{
    width: 100%;
}

.h1style{
    color:#c79c60;
    font-size: 3em;
}

.buttonstyle{
    background-image: url(../img/tm-brown-button.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border: none;
    border-radius: 0.5em;
    width: 8em;
    height: 2em;
    color: #c79c60 ;
}
.imgst{
    transform: translateY(20%);
    margin-top: -4em;
}

.txcolor{
    color:#c79c60;
}

.downcon{
    padding-top:15em ;
}

.img1st{
    border-radius: 10em;
}

.img3{
    width: 18%;
}

.h1style2{
    color:#c79c60;
    margin-left: 2.5em;
    margin-top: -1.5em;
}
.hrstyle{
     background-color: #c79c60;
     border-bottom: 1px solid #c79c60;
     margin-top: 2em
}

.circlebtn{
    border-radius: 35em;
    height: 7em;
    background-image: url(../img/tm-brown-button.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transform:translateY(60%);
}

.titlecard{
    transform: translateY(-100%);
    color: white;
}

.marginimg{
    margin-top: 8em;
}
.secondmargin{
    margin-top: 18em;
}

.bgnsecond{
    background-color: #e4e4e4;
}